@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	html {
	  color-scheme: dark;
	}
  }
  
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
	img[loading='lazy'] {
	  clip-path: inset(0.6px);
	}
  }

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

.value {
	border-left: 36px solid #123456;
	border-radius: 50%;
	width: 36px;
	height: 36px;
}

.addColorBtnCon {
	margin-top: 10px;
	width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.selectedColorCon {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}

.feilds-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-row-gap: 1rem;
	grid-column-gap: 12rem;
}

.button-effect {
	box-shadow: 4px 4px 0 rgb(37 99 235 / var(--tw-bg-opacity));
	transition: transform 0.2s, box-shadow 0.2s;
}

.button-effect:active {
	transform: translateX(4px) translateY(4px);
	box-shadow: 0 0 0 rgb(37 99 235 / var(--tw-bg-opacity));
}

.btn-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 1rem;
}

.errorMsg {
	color: red;
}
